# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/tabungan_qurban_db

# JWT
JWT_SECRET=ganti-dengan-secret-rahasia-anda
JWT_EXPIRES_IN=7d

# Cloudinary (untuk upload bukti pembayaran — opsional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CORS
CLIENT_URL=http://localhost:5173
